{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact{% endblock %}

{% block body %}
    <h3 class="text-center">Formulaire de contact</h3>

    {{ include('contact/_form.html.twig') }}

{% endblock %}
