{% extends 'base.html.twig' %}

{% block title %}Redirection{% endblock %}

{% block body %}
    <h3 class="text-center">Bravo!</h3>

    <div class="col align-self-center">
   <p>Votre inscription a bien été prise en compte.</p>
   <p>Vous allez recevoir un mail de confirmation. </p>
    </div>

    <a href="https://www.wikicampers.fr/" type="button" class="btn ml-5 mt-5">Retour au site</a>
    <a href="/" type="button" class="btn ml-5 mt-5">Retour au formulaire</a>


{% endblock %}
