
    <!-- Footer -->
    <footer class="page-footer">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-12 mx-auto text-center p-3">

                        <!-- Facebook -->
                        <a class="fb-ic mx-auto">
                            <a href="https://fr-fr.facebook.com/Wikicampers/"><i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic mx-auto ">
                            <a href="https://twitter.com/wikicampers?lang=fr"> <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>  </a>
                        </a>

                        <!--Linkedin -->
                        <a class="li-ic mx-auto ">
                            <a href="https://www.linkedin.com/company/wikicampers/"><i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic mx-auto ">
                            <a href="https://www.instagram.com/wikicampers/?hl=fr"<i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i></a>
                        </a>
                        <div class=" texte p-2"> Wikicampers propose un service de location de camping car entre particuliers avec assurance tous risques.
                            Vous pouvez publier votre annonce en toute sécurité ou réserver un camper facilement.</div>

                </div>
            </div>
                <!-- Grid column -->

         </div>

        <!-- Footer Elements -->


        <div class="footer-copyright text-center py-3">WikiCampers c'est aussi <a href="https://www.wikicampers.fr/blog/"> le blog  </a> et <a href="https://www.wikicampers.fr/boutique/"> la boutique. </a>
        </div>

    </footer>

