
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="https://www.wikicampers.fr/">
        <img src ="https://www.wikicampers.fr/images/logo-wikicampers-com.svg?v46"  class="d-inline-block align-top" alt="logo">
    </a>
</nav>