{% extends 'base.html.twig' %}

{% block body %}

<h2>Bienvenue chez WikiCampers!</h2>

<h3>Bonjour {{ firstname }} </h3>

    <p>Merci d'avoir rejoint notre communauté! Votre message a bien été pris en compte, nous y répondrons dans les plus brefs délais. </p>

{% endblock %}

